<section class="block container block-plans">
  <div class="grid grid--1x3">
    <!--2xPlans with card and buttons-->
    <div class="plan-container" ;>
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="paln__price">$24</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">20% off</span>
            <span class="plan__description">Optimal Cloud Experience</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Item 1</li>
              <li class="list__item">Item 2</li>
              <li class="list__item">Item 3</li>
            </ul>
            <button class="btn btn--buynow btn--outline">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="plan-container" ;>
      <div class="plan plan--bestseller">
        <div class="card card--primary">
          <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="paln__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--primary badge--small">10% off</span>
            <span class="plan__description">Easy Start on the cloud </span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Item 1</li>
              <li class="list__item">Item 2</li>
              <li class="list__item">Item 3</li>
            </ul>
            <button class="btn btn--buynow btn--headings">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="plan-container" ;>
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="paln__price">$24</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">20% off</span>
            <span class="plan__description">Optimal Cloud Experience</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Item 1</li>
              <li class="list__item">Item 2</li>
              <li class="list__item">Item 3</li>
            </ul>
            <button class="btn btn--buynow btn--outline">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
