<!--Collapsible折叠组件-->
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">Iterm 1</h3>
    <span class="collapsible__arrow">
      <img src="images/chevron.svg" alt="The arrow of the collapse" />
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore officiis a
    est numquam rerum consequatur modi? Magnam enim necessitatibus rerum.
  </div>
</div>
<script src="js/main.js"></script>
