<nav class="nav collapsible">
  <!--即便没有collapsible--expanded,也可在css中定制icon toggler动画效果-->
  <a class="logo--link" href="/">
    <img src="images/logo.svg" alt="The logo of the website" />
  </a>
  <svg class="icon icon__menu nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
