<section class="testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img
          class="grid__authorpic"
          src="images/testimonial.jpg"
          alt="The profile picutre of the author"
        />
        <span class="icon-container icon-container--accent">
          <svg class="icon">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>  
         <!-- Qutes (Similar with Media object) -->        
        <article class="quote-container">
          <p class="quote__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
            ipsam quam, numquam repudiandae aliquam consequatur minus
            voluptas rerum debitis reprehenderit.
          </p>
          <footer>
            <div class="quote__author">
              <svg class="icon icon--primary icon--line">
                <use xlink:href="../images/sprite.svg#line"></use>
              </svg>
              <div class="quote__authorinfo">
                <div class="quote__authorname">Author Name</div>
                <div class="quote__authorcompany">Company</div>
              </div>
            </div>
          </footer>
        </article>
      </div>
    </div>
  </section>